* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  color: rgb(0, 0, 0);
  padding: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

form {
  width: 500px;
  margin: 0px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

fieldset {
  border: 1px solid #aea8a8;
  padding: 20px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  padding: 0 8px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}

input,
select {
  padding: 8px;
  width: 220px;
  border: 1px solid #bbb;
  border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"],
input[type="file"] {
  width: auto;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  color: rgb(10, 161, 221);
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #1f6fc5;
  color: white;
}

hr {
  margin: 30px auto;
  width: 500px;
}

footer {
  text-align: center;
  color: #666;
  font-size: 14px;
}
