* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

:root {
  --background: #f4f2f2;
  --primary-color: #215e61;
  --font-color: #1d2128;
}

body {
  width: 100vw;
  background-color: var(--background);
}

html {
  font-size: 20px;
}

h1 {
  font-size: 3rem;
}

.parent {
  font-size: 2rem;
}

.child {
  width: 20vw;
  height: 20vh;
  font-size: 0.5em;
  color: var(--primary-color);
  background-color: rgb(194, 189, 189);
  margin-bottom: 12px;
}

.grandchild {
  font-size: 0.4em;
}

.unique {
  float: right;
}

.steph {
  background-color: rgb(194, 189, 189);
  display: inline-block;
  width: 25vw;
}
